body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 320px;
}

* {
    font-family: 'Ubuntu', sans-serif;
}



@media screen and (min-height: 1079px) {
  .header {
      font-size: 28px;
  }
}

